[submodule "external/gmod-module-base"]
	path = external/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
	branch = development
[submodule "external/metamod-source"]
	path = external/metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "external/garrysmod_common"]
	path = external/garrysmod_common
	url = ../../danielga/garrysmod_common.git
