[submodule "external/garrysmod_common"]
	path = external/garrysmod_common
	url = https://github.com/danielga/garrysmod_common
	branch = master
[submodule "external/metamod-source"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
[submodule "external/luajit"]
	path = external/luajit
	url = https://github.com/LuaJIT/LuaJIT.git